---
// src/pages/index.astro
import "../styles/global.css";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cena de Graduación</title>
</head>

<div class="page-wrapper">
  <main class="invitation-card">
    <!-- Seccion principal de la invitacion -->
    <section class="invitation-main">
      <div class="invitation-icon">&diams;</div>

      <p class="invitation-small">Class of 2025</p>
      <p class="invitation-small">Gracias a mis pap&aacute;s, por su esfuerzo, su apoyo y por nunca soltarme la mano. Este logro es tambi&eacute;n de ustedes.</p>

      <h1 class="invitation-title-script">Cena de Graduaci&oacute;n</h1>

      <div class="invitation-section">
        <p class="invitation-line">Un momento para compartir con quienes han sido parte del camino &lt;3</p>
      </div>

      <p class="invitation-date">Cinco de Diciembre de 2025</p>

      <div class="invitation-section">
        <p class="invitation-detail-title">Hora: 6:00 PM</p>
      </div>

      <div class="invitation-section">
        <p class="invitation-detail-text">Lugar: Centro Recreativo Acacepsa</p>
        <p class="invitation-detail-text">Carretera Antigua a San Salvador, km. 62, frente al Deportivo Santaneco</p>
      </div>

      <div class="invitation-section invitation-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4144.152550741648!2d-89.54435428905512!3d13.964024786393814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62e62dbc144973%3A0x295b6225974d83b!2sCentro%20Recreativo%20ACACESPSA!5e1!3m2!1ses-419!2ssv!4v1764872312130!5m2!1ses-419!2ssv"
          width="400"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      

      <div class="invitation-section">
        <p class="invitation-small">Graduada oficialmente gracias a:</p>
        <p class="invitation-small">JavaScript, Maizena, One Direction, BTS, Taylor Swift y Bad Bunny.</p>
      </div>
    </section>
  </main>
</div>


