---
import "../styles/global.css";
const { title = "Invitaci\u00f3n" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="min-h-screen bg-[#e5e0d8] flex items-center justify-center">
    <slot />
  </body>
</html>
